#navBar {
    background-color: white;
    width: 100%;
}

h1 {
    font-family: 'Amatic SC', cursive;
}

body {
    background-color: silver;
}

#masterDiv {
    border: 1px solid silver;;
    border-radius: 5px;
    font-family: 'Amatic SC', cursive;
}

#topDiv {
    background-color: white;
    width: 100%;
    text-align: center;
    border: 1px solid silver;
    border-radius: 5px;
}

#middleDiv {
    background-color: white;
    width: 100%;
    text-align: center;
    border: 1px solid silver;
    border-radius: 5px;
}

#bottomDiv {
    border: 2px solid black;
    background-color: white;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
}


#bottomLeftDiv {
    width: 100%;
    border-radius: 5px;
}

#bottomRightDiv {

}

#footer {
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px;
    font-size: 10px;
    font-family: 'Amatic SC', cursive;
    position: absolute;
    bottom: 0px

}

#submit {
    margin: 15px;
    color: black;
}