#navBar {
    background-color: white;
    width: 100%;
}

.navBar {
    font-family: 'Oswald', sans-serif;;
}

.btn {
    margin: 10px;
}

h1 {
    font-family: 'Amatic SC', cursive;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

body {
    background-color: silver;
    font-family: 'Oswald', sans-serif;;
}

p {
    font-size: 16px;
}

.modal-header {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

.modal-body {
    text-align: justify;
    font-family: 'Oswald', sans-serif;
}

.modal-title {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

#masterDiv {
    border: 1px solid silver;;
    border-radius: 5px;
    font-family: 'Amatic SC', cursive;
}

#topDiv {
    background-color: white;
    width: 100%;
    text-align: center;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 20px 10px;
}

#middleDiv {
    background-color: white;
    width: 100%;
    text-align: center;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
}

#bottomDiv {
    border: 2px solid black;
    background-color: white;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    width: 100%;
}

#footer {
    background-color: white;
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 10px 0px 10px;
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
    position: fixed;
    bottom: 0;

}

#submit {
    margin: 15px;
    color: black;
}

#currentLocation {
    height: 140px;
    border-radius: 80px;
}

#addressInput {
    font-size: 10px;
}


#map, #pano{
    float: top;
    height: 300px;
    width: 100%;
}

.centerBlock {
    display: table;
    margin: auto;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 250px;
    overflow-y: auto;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
